<div class="search-container" ng-controller="SearchController as controller">

  <div class="search-banner search-form">
    <a class="pull-left search-title" ui-sref="home">Insights Weather</a>
    <form novalidate>
      <input id="search" class="typeahead" type="text" options="controller.autocompleteOptions" datasets="controller.autocompleteData" placeholder="type a city name" ng-model="controller.data.query" sf-typeahead>
      <button type="submit" class="search-button" ng-click="controller.search()">
        <img src="images/weathericons/icon32.png" />
      </button>
    </form>
  </div>

  <div class="search-results container">
    
    <div class="row">
      <div class="col-md-6">
        <div class="weather" ng-if="controller.data.current.observation">
          <div class="media weather-current">
            <div class="media-left">
              <img class="media-object weather-current-icon" ng-src="images/weathericons/icon{{controller.data.current.observation.wx_icon}}.png" /> {{controller.data.current.observation.phrase_32char}}
            </div>
            <div class="media-body">
              <h4 class="weather-current-temp media-heading">
                {{controller.data.current.observation.temp | formatTemperature: controller.data.temperatureMode }}
                <span class="weather-current-temp-mode">
                  <a href="" ng-click="controller.setTemperatureMode('F')" ng-if="controller.data.temperatureMode=='C'">°F</a>
                  <span ng-if="controller.data.temperatureMode=='F'">°F</span>
                  |
                  <a href="" ng-click="controller.setTemperatureMode('C')" ng-if="controller.data.temperatureMode=='F'">°C</a>
                  <span ng-if="controller.data.temperatureMode=='C'">°C</span>
                </span>
              </h4>
              <div>Feels like {{controller.data.current.observation.feels_like | formatTemperature: controller.data.temperatureMode }}°</div>
              <div>Humidity: {{controller.data.current.observation.rh}}%</div>
              <div class="text-muted">Updated <span data-livestamp="{{controller.data.current.observation.valid_time_gmt}}"></span></div>
            </div>
          </div>
          <div class="source-panel">
            <button class="btn btn-warning btn-xs" type="button" data-toggle="collapse" data-target="#currentSource" aria-expanded="false" aria-controls="currentSource">View JSON source for Current observation</button>
            <div class="collapse" id="currentSource">
              <json-formatter json="controller.data.current" open="1"></json-formatter>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ui-gmap-google-map center="controller.data.map.center" zoom="controller.data.map.zoom"></ui-gmap-google-map>
      </div>
    </div>

    <div class="row" ng-if="controller.data.hourly.forecasts">
      <div>
        <h2>Hourly forecast</h2>
      </div>

      <table class="table table-hover table-condensed table-responsive weather-hourly-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Temp</th>
            <th>Conditions</th>
            <th>Prep</th>
            <th>Wind</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="forecast in controller.data.hourly.forecasts" class="{{$index%3!=0 ? 'weather-hourly-morerow':''}}">
            <td>{{forecast.fcst_valid_local | formatDate:'HH:mm'}}</td>
            <td class="weather-hourly-temp">{{forecast.temp | formatTemperature: controller.data.temperatureMode }}°</td>
            <td>
              <img class="weather-forecast-icon" ng-src="images/weathericons/icon{{forecast.icon_code}}.png" /> {{forecast.phrase_32char}}
            </td>
            <td>{{forecast.pop}}%</td>
            <td>
              <img class="weather-forecast-icon" src="images/weathericons/icon23.png" title="{{forecast.wdir_cardinal}}" style="-webkit-transform: rotate({{forecast.wdir+90}}deg); -moz-transform: rotate({{forecast.wdir+90}}deg); -ms-transform: rotate({{forecast.wdir+90}}deg); -o-transform: rotate({{forecast.wdir+90}}deg); transform: rotate({{forecast.wdir+90}}deg);" bs-tooltip/> {{forecast.wspd}} mph
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <center>
                <button type="button" class="btn btn-info btn-sm" onclick="$('.weather-hourly-morerow').toggle();">Toggle all hours</button>
              </center>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="source-panel">
        <button class="btn btn-warning btn-xs" type="button" data-toggle="collapse" data-target="#hourlySource" aria-expanded="false" aria-controls="hourlySource">View JSON source for Hourly forecast</button>
        <div class="collapse" id="hourlySource">
          <json-formatter json="controller.data.hourly" open="1"></json-formatter>
        </div>
      </div>
    </div>

    <div class="row" ng-if="controller.data.tenday.forecasts">
      <div>
        <h2>Ten day forecast</h2>
      </div>

      <div class="weather-forecast-box" ng-repeat="forecast in controller.data.tenday.forecasts" ng-if="forecast.day">
        <h5>{{forecast.fcst_valid_local | formatDate:'ddd'}}</h5>
        <div><img class="weather-forecast-icon" ng-src="images/weathericons/icon{{forecast.day.icon_code}}.png" title="{{forecast.day.narrative}}" data-placement="bottom" bs-tooltip/></div>
        <h6>{{forecast.max_temp | formatTemperature: controller.data.temperatureMode }}° / {{forecast.min_temp | formatTemperature: controller.data.temperatureMode }}°</h6>
      </div>

      <div class="source-panel">
        <button class="btn btn-warning btn-xs" type="button" data-toggle="collapse" data-target="#tendaySource" aria-expanded="false" aria-controls="tweetsSource">View JSON source for 10 day forecast</button>
        <div class="collapse" id="tendaySource">
          <json-formatter json="controller.data.tenday" open="1"></json-formatter>
        </div>
      </div>
    </div>

    <div class="row" ng-if="controller.data.timeseries.observations">
      <div>
        <h2>Past observations</h2>
      </div>

      <table class="table table-hover table-condensed table-responsive weather-hourly-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Temp</th>
            <th>Conditions</th>
            <th>Wind</th>
            <th>Observed from</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="observation in controller.data.timeseries.observations" class="{{$index%5!=0 ? 'weather-observations-morerow':''}}">
            <td>{{observation.valid_time_gmt*1000 | formatDate:'DD MMM YYYY HH:mm'}}</td>
            <td class="weather-hourly-temp">{{observation.temp | formatTemperature: controller.data.temperatureMode }}°</td>
            <td>
              <img class="weather-forecast-icon" ng-src="images/weathericons/icon{{observation.wx_icon}}.png" /> {{observation.wx_phrase}}
            </td>
            <td>
              <img class="weather-forecast-icon" src="images/weathericons/icon23.png" title="{{observation.wdir_cardinal}}" style="-webkit-transform: rotate({{observation.wdir+90}}deg); -moz-transform: rotate({{observation.wdir+90}}deg); -ms-transform: rotate({{observation.wdir+90}}deg); -o-transform: rotate({{observation.wdir+90}}deg); transform: rotate({{observation.wdir+90}}deg);" bs-tooltip/> {{observation.wspd}} mph
            </td>
            <td>
              {{observation.obs_name}}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <center>
                <button type="button" class="btn btn-info btn-sm" onclick="$('.weather-observations-morerow').toggle();">Toggle all observations</button>
              </center>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="source-panel">
        <button class="btn btn-warning btn-xs" type="button" data-toggle="collapse" data-target="#timeseriesSource" aria-expanded="false" aria-controls="timeseriesSource">View JSON source for past observations</button>
        <div class="collapse" id="timeseriesSource">
          <json-formatter json="controller.data.timeseries" open="1"></json-formatter>
        </div>
      </div>

    </div>
  </div>

</div>
